################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/x86/Debug/RoE-Campaign-Hotfix.csproj.FileListAbsolute.txt
/obj/x86/Debug/RoE-Campaign-Hotfix.csproj.CoreCompileInputs.cache
/obj/x86/Debug/RoE-Campaign-Hotfix.csproj.AssemblyReference.cache
/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/x86/Debug/ConsoleApplication.pdb
/obj/x86/Debug/ConsoleApplication.dll
